{% extends "layout.html" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
 <div class="container">
    <form action="{{action}}" method="post" role="form">
        {% if post is defined %}
            <input type="hidden" name="_id" value="{{post['_id']}}" />
        {% endif %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-control" type="text" name="title" id="title"
                   value="{{ post['title'] if post is defined else '' }}" />
            {% if error is defined and error['title'] is defined %}
                ERROR: {{error['title']}}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content"
                      name="content">{{ post['content'] if post is defined else '' }}</textarea>
            {% if error is defined and error['content'] is defined %}
                ERROR: {{error['content']}}
            {% endif %}
        </div>

        <div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>

        {% if post is defined %}
            <div>
                <button type="submit" class="btn btn-danger"
                        formaction="/post/process-delete-post">Delete</button>
            </div>
        {% endif %}

    </form>
 </div>
{% endblock %}